{# Paper decorations share the existing room rectangle; never owned inventory. #}
<div class="halloween-decor halloween-decor--{{ halloween_surface }}" data-presentation-only aria-hidden="true">
  <span class="halloween-garland">{% for flag in range(9) %}<i></i>{% endfor %}</span>
  <span class="halloween-web"></span>
  <span class="halloween-bat halloween-bat--left"></span>
  <span class="halloween-bat halloween-bat--right"></span>
  <span class="halloween-pumpkin halloween-pumpkin--left"></span>
  <span class="halloween-pumpkin halloween-pumpkin--right"></span>
  <span class="halloween-leaf halloween-leaf--left"></span>
  <span class="halloween-leaf halloween-leaf--right"></span>
</div>
